<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\BagsApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <!-- Ensure static files are served -->
      <staticContent>
        <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
        <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
        <mimeMap fileExtension=".png" mimeType="image/png" />
        <mimeMap fileExtension=".gif" mimeType="image/gif" />
        <mimeMap fileExtension=".webp" mimeType="image/webp" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>